---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---
<h1>Teaching</h1>



<head>
  I provided tutoring, lectures, and laboratory works in more than 3 universities in Europe:
  - <a href="https://www.aalto.fi/en" target="_blank">Aalto University</a>,
  - <a href="https://www.cnam.eu/site-en/" target="_blank">Cnam Engineering School</a>,
  - <a href="https://u-paris.fr/en/" target="_blank">Université Paris Cité</a>.  
</head>  
My teachings are:

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


