---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---
<h1>Teachings</h1>




I provided lectures, laboratory works, and tutoring in various universities in Finland and France: <a href="https://www.aalto.fi/en" target="_blank">Aalto University</a>, <a href="https://www.cnam.eu/site-en/" target="_blank">Cnam Engineering School</a>, <a href="https://u-paris.fr/en/" target="_blank">Université Paris Cité</a>. Here is a list of my teachings:

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


